<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title><%= title %></title>
</head>
<body>
    <header class="header" id="header">
        <div class="container">
            <h1 class="header display-1 text-center"> <%= name %></h1>
            <p class="Home">Home Page <a href="http://localhost:3000">here</a></p>
            <p class="Actors">To view actors <a href="http://localhost:3000/actors">here</a></p>
            <p class="Actor-Form">To add an actor <a href="http://localhost:3000/actor-form">here</a></p>
            <p class="Directors">To view directors <a href="http://localhost:3000/directors">here</a></p>
            <p class="Production Companies">To view production companies <a href="http://localhost:3000/producers">here</a></p>
            <p class="Streaming_Platforms">To view streaming_platforms <a href="http://localhost:3000/streaming_platform">here</a></p>
            <p class="Programs">To view programs <a href="http://localhost:3000/programs">here</a></p>
            <p class="Program-Form">To add a program <a href="http://localhost:3000/program-form">here</a></p>
        </div>
    </header>